.repositoriohtml{
    width: 100%;
    margin-top: 10px;
    height: 400px;
    float:left ;
}
.repositorio10Codigo button{
    width: 220px;
    float: right;
    background-color: black;
    color: rgb(202, 191, 191);
    border: 0;
    border-radius: 10px;
    margin-top: 10px;
    transform: translateX(190px);

}
.codigohtml{
    width: 100%;
    margin-top: -100px;
    height: 400px;
    background-color: rgb(95, 42, 165);
    float:left ;
    display: none;
}
.Conteudohtml{
    width:100%;
    margin-top: 35px;
    overflow: scroll;
    height: 365px;
    background-color: rgb(42, 165, 63);
    float:left ;
}

@media (max-width:700px) {
    .repositoriohtml{
        width: 100%;
        margin-top: 10px;
        height: 400px;
        float:left ;
    }
    .repositorio10Codigo button{
        width: 500px;
        float: right;
        background-color: black;
        color:#fff;
        border: 0;
        border-radius: 10px;
        margin-top: 170px;
        transform: translateX(170px);

    
    }
    .codigohtml{
        width: 100%;
        margin-top: -100px;
        height: 400px;
        background-color: rgb(95, 42, 165);
        float:left ;
        display: none;
    }
    .Conteudohtml{
        width:100%;
        margin-top: 35px;
        overflow: scroll;
        height: 365px;
        background-color: rgb(42, 165, 63);
        float:left ;
    }
    
}

@media (max-width:1023px) and ( min-width:701px) {

    .repositoriohtml{
        width: 100%;
        margin-top: 10px;
        height: 400px;
        float:left ;
    }
    .repositorio10Codigo button{
        width: 800px;
        float: right;
        background-color: black;
        color:#fff;
        border: 0;
        border-radius: 0px;
        margin-top: 230px;
        transform: translateX(170px);

    }
    .codigohtml{
        width: 100%;
        margin-top: -100px;
        height: 400px;
        background-color: rgb(95, 42, 165);
        float:left ;
        display: none;
    }
    .Conteudohtml{
        width:100%;
        margin-top: 35px;
        overflow: scroll;
        height: 365px;
        background-color: rgb(42, 165, 63);
        float:left ;
    }
    
}


