.repositorioLink12{
    width: 120px;
    margin-top: -50px;
    height: 80px;
    position: absolute;
    transform: translateX(-130px);
   
}
.repositorioLink12 button{
    width: 220px;
    height: 40px;
    background: linear-gradient(rgb(143, 82, 241),rgb(214, 141, 73));
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    margin-top: -10px;
    border-radius: 0px;
    transform: translateX(170px);
    border: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.codigo12{
    width: 200px;
    margin-top: -40px;
    height: 200px;
    float:left ;
    display: none;
    
}
.codigo12 button{
    margin-left: 0px;
    margin-top: 50px;

}

.Conteudo{
    width: 100%;
    margin-top: 0px;
    overflow: scroll;
    height: 365px;
    float:left ;
}
@media (max-width:700px) {

    .repositorioLink12{
        width: 120px;
        margin-top: 390px;
        height: 80px;
        position: absolute;
        transform: translateX(-420px);
       
    }
    .repositorioLink12 button{
        width:500px;
        height: 100px;
        background: linear-gradient(rgb(143, 82, 241),rgb(214, 141, 73));
        color: #fff;
        cursor: pointer;
        position: fixed;
        font-size: 37px;
        margin-top: -10px;
        border-radius: 0px;
        transform: translateX(170px);
        border: 0;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    
    .codigo12{
        width: 200px;
        margin-top: -60px;
        margin-left: -40px;
        height: 200px;
        float:left ;
        display: none;
        
    }
    .codigo12 button{
        margin-left: 0px;
        margin-top: 50px;
    
    }
    
    .Conteudo{
        width: 100%;
        margin-top: 0px;
        overflow: scroll;
        height: 365px;
        float:left ;
    }
}


@media (min-width:701px) and (max-width:1023px) {

    .repositorioLink12{
        width: 120px;
        margin-top: 350px;
        height: 80px;
        position: absolute;
        transform: translateX(-570px);
       
    }
    .repositorioLink12 button{
        width:800px;
        height: 150px;
        background: linear-gradient(rgb(143, 82, 241),rgb(214, 141, 73));
        color: #fff;
        cursor: pointer;
        position: fixed;
        font-size: 50px;
        margin-top: -10px;
        border-radius: 0px;
        transform: translateX(170px);
        border: 0;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    
    .codigo12{
        width: 200px;
        margin-top: -60px;
        margin-left: -40px;
        height: 200px;
        float:left ;
        display: none;
        
    }
    .codigo12 button{
        margin-left: 0px;
        margin-top: 50px;
    
    }
    
    .Conteudo{
        width: 100%;
        margin-top: 0px;
        overflow: scroll;
        height: 365px;
        float:left ;
    }
}